<h1>Editar modulo</h1>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <%= render 'form', component: @component %>
  </div>
  <div class="col-sm-6 col-md-4">
    <%= render 'operation/index', operations: @operations %>
  </div>
</div>
<%= link_to 'Atras', components_path %>