<h1>Editar dispositivo</h1>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <%= render 'form', device: @device %>
  </div>
  <div class="col-sm-6 col-md-4">
    
  </div>
</div>
<%= link_to 'Atras', devices_path %>