<script>$("#login").addClass("active")</script>
<div class="container form-signin">
    <%= form_tag do %>
        <h2 class="form-signin-heading">Ingresa</h2>
        <label class="sr-only">Email address</label>
        <input type="email" class="form-control" placeholder="Email address" name="email" required autofocus>
        <% errors.each do |message| %>
            <% if (message =~ %r"Email") == 0 %>
                <div class="alert alert-danger" style="height: auto" role="alert"><%= "#{message}" %></div>
            <% end %>
        <% end %>
        
        <label class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Recuerdame
            </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
    <% end %>
</div> <!-- /container -->