<h1>Editar seguimiento de petición</h1>

<div class="container form-signin">
    <%= render 'form', petitions_tracking: @petitions_tracking %>
    <%= link_to 'Atras', petitions_trackings_path %>
</div>