<style>
    .modulo img {
        width: 150px;
        height: 150px
    }
</style>
<div class="row">
    <div class="modulo col-xs-6 col-lg-3">
        <h2>Modulos</h2>
        <p><img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" 
                src="/assets/png/windows.png" data-holder-rendered="true"></p>
        <p><a class="btn btn-default" href="/components" role="button">Ver detalles »</a></p>
    </div><!--/.col-xs-6.col-lg-4-->
    <div class="modulo col-xs-6 col-lg-3">
        <h2>Paises</h2>
        <p><img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" 
                src="/assets/png/flag-1.png" data-holder-rendered="true"></p>
        <p><a class="btn btn-default" href="/countries" role="button">Ver detalles »</a></p>
    </div><!--/.col-xs-6.col-lg-4-->
    <div class="modulo col-xs-6 col-lg-3">
        <h2>Departamentos</h2>
        <p><img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" 
                src="/assets/png/flag-3.png" data-holder-rendered="true"></p>
        <p><a class="btn btn-default" href="/states" role="button">Ver detalles »</a></p>
    </div><!--/.col-xs-6.col-lg-4-->
    <div class="modulo col-xs-6 col-lg-3">
        <h2>Ciudades</h2>
        <p><img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" 
                src="/assets/png/flag.png" data-holder-rendered="true"></p>
        <p><a class="btn btn-default" href="/cities" role="button">Ver detalles »</a></p>
    </div><!--/.col-xs-6.col-lg-4-->
</div>