<h1>Editar Operación</h1>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <%= render 'form', operation: @operation %>
  </div>
  <div class="col-sm-6 col-md-4">
    
  </div>
</div>
<%= link_to 'Atras', operations_path %>